.root {
    -fx-background-image: url('../Asserts/HomeBackground.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0.9);

}
#textId {
    -fx-font-family: 'Raleway';
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #3498db;
    -fx-effect: dropshadow(three-pass-box, #3498db, 10, 0, 0, 0);
    -fx-transition: color 0.3s ease;
}

#textId:hover {
    -fx-text-fill: #e74c3c;
}
