.root {
    -fx-background-image: url('../Asserts/Background.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.text {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: #333}

#slider{
    -fx-background-color: linear-gradient(to bottom, #0379b7, rgba(0, 0, 0, 0)), rgba(255, 255, 255, 0.5);
}